<%- include("partials/header") %>

    <section class="ui main text container segment">
        <div class="row">
            <% for(post of posts) { %>
                <div class="col-md-4">
                    <div class="card card-blog">
                        <div class="card-body">
            
                            <p class="card-description">
                                <%- post.content %>
                            </p>

                            <p class="card-description">
                                <%- post.viewPrice %>
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="post-author">
                                <span class="author">
                                    <%= post.creator.username %>
                                </span>
                            </div>
                            <div class="post-date">
                                <span class="ion-ios-clock-outline"></span>
                                <%= moment(post.createdAt).fromNow() %>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            <% } %>
        </div>
    </section>

    <%- include("partials/footer") %>